body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(167, 161, 161); */
  /* background: linear-gradient(to right, rgb(252, 0, 255), rgb(0, 219, 222)); */
  /* background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73)); */
  background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
  background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
  /* background-image: url('./pic/pexels-pixabay-33545.jpg');
  background-repeat: no-repeat;
  background-size: 1680px 1050px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

